@import "reset.css";
@import "fonts.css";


/* BASIC LAYOUT */
html, body {
	height:100%;
}

body {
	font-family:"OpenSans Regular";
	font-size:14px;
	background:#FFFFFF;
}

.clearer { clear:both; }

#container {
	width:860px;
	margin:0 auto;
}

#content {
	width:600px;
	float:right;
	padding:20px 0px 0px 0px;
}

#sidebar {
	width:200px;
	height:100%;
	float:left;
	background:#222326;
	box-shadow:inset 0 0 10px #000000;
	moz-box-shadow:inset 0 0 10px #000000;
	webkit-box-shadow:inset 0 0 10px #000000;
	position:fixed;
}

/*
 * CONTENT
 */
#default p {
    margin:0px 0px 21px 0px;
    line-height:23px;
	letter-spacing:0.4px;
	word-spacing:1.2px;
}

#index p {
    margin:0px 0px 10px 0px;
    line-height:23px;
	letter-spacing:0.4px;
	word-spacing:1.2px;
}

#content h1, h2, h3, h4, h5, h6 {
	margin:0px 0px 10px 0px;
	/*color:#AD2731;*/
    font-family:"OpenSans Light";
}

#content h1 {
	font-size:32px;
	margin:0px 0px 5px 0px;
    width:100%;
    border-color:#CCCCCC;
    border-width:0px 0px 2px 0px;
    border-style:solid;
}

#content h2 {
	font-size:24px;
}

#content h3 {
	font-size:18px;
}

#content em {
    font-family:"OpenSans Italic";
}

#content code {
    color:#262626;
}

/*INDEX*/
#content h4 {
	font-size:20px;
	margin:0px 0px 5px 0px;
    width:100%;
    border-color:#CCCCCC;
    border-width:0px 0px 1px 0px;
    border-style:solid;
}

#content h4 a {
    text-decoration:none;
    color:#262626;
}

/*PAGE*/
#content h5 {
	font-size:32px;
	margin:0px 0px 15px 0px;
    width:100%;
    border-color:#cccccc;
    border-width:0px 0px 2px 0px;
    border-style:solid;
}

/*ARCHIVE*/
#content h6 {
	font-size:32px;
	margin:0px 0px 15px 0px;
    width:100%;
    border-color:#cccccc;
    border-width:0px 0px 2px 0px;
    border-style:solid;
}

#content a {
	color:#AD2731;
}

#content a:hover {
	text-decoration:none;
}

#content .date {
    color:#AD2731;
    font-family:"OpenSans Light";
    font-size:12px;
    margin:-5px 0px 10px 0px;
}

#index .more {
    margin:0px 0px 35px 0px;
}

#content .box {
    box-shadow:0 0 3px #222326;
	moz-box-shadow:0 0 3px #222326;
	webkit-box-shadow:0 0 3px #222326;
    margin:0px 0px 35px 0px;
    padding:5px 10px 5px 10px;
    color:#FFFFFF;
    background-image: linear-gradient(bottom, #222326 0%, #4D4D4F 100%);
    background-image: -o-linear-gradient(bottom, #222326 0%, #4D4D4F 100%);
    background-image: -moz-linear-gradient(bottom, #222326 0%, #4D4D4F 100%);
    background-image: -webkit-linear-gradient(bottom, #222326 0%, #4D4D4F 100%);
    background-image: -ms-linear-gradient(bottom, #222326 0%, #4D4D4F 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #222326), color-stop(1, #4D4D4F));
    font-family:"OpenSans Light";
}

#content .box a {
    color:#A4A4A4;
}

#content .box a:hover {
    color:#AD2731;
}

#content ul {
    list-style-type:disc;
    padding:0px 0px 0px 50px;
    margin:0px 0px 21px 0px;
	line-height:23px;
	letter-spacing:0.4px;
	word-spacing:1.2px;
}

#content ol {
    list-style-type:decimal;
    padding:0 0 0 50px;
    margin:0 0 21px 0;
    line-height:23px;
    letter-spacing:0.4px;
    word-spacing:1.2px;
}

#content em {
    font-weight:bold;
}

#content li {
    margin:0px 0px 2px 0px;
}

#content ul span {
    display:block;
    margin:0px 0px 8px 0px;
}

#content #twitter {
    width:100%;
    text-align:right;
}

/*
 * SIDEBAR
 */
#sidebar #logo p {
	width:200px;
	text-align:center;
	color:#FFFFFF;
	padding:10px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}

/* RIBBON */
#ribbon-wrapper {
	position: relative;
	margin:10px 0px 25px 0px;
}

#ribbon-front {
	background-color: #AD2731;	height: 40px;
	width: 214px;
	position: relative;
	left:-7px;
	z-index: 2;
}

#ribbon-front, #ribbon-back-left, #ribbon-back-righ {
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

#ribbon-edge-topleft, #ribbon-edge-topright, #ribbon-edge-bottomleft, #ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

#ribbon-edge-bottomleft, #ribbon-edge-bottomright {
	top: 40px;
}

#ribbon-edge-topleft, #ribbon-edge-bottomleft {
	left: -7px;
	border-color: transparent #701A20 transparent transparent;
}

#ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 7px 0 0;
}

#ribbon-edge-bottomleft {
	border-width: 0 7px 7px 0;
}

#ribbon-edge-topright, #ribbon-edge-bottomright {
	left: 200px;
	border-color: transparent transparent transparent #701A20;
}

#ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 7px;
}

#ribbon-edge-bottomright {
	border-width: 0 0 7px 7px;
}

#ribbon-back-left {
	position: absolute;
	top: 7px;
	left: 0px;
	width: 0px;
	height: 40px;
	z-index: 0;
}

#ribbon-back-right {
	position: absolute;
	top: 7px;
	right: 0px;
	width: 0px;
	height: 40px;
	z-index: 0;
}

#ribbon-wrapper p {
	color:#FFFFFF;
	font-weight:bold;
	font-size:16px;
	letter-spacing:1.2px;
	word-spacing:1.2px;
	text-align:center;
	padding:8px 0px 0px 0px;
	font-family:"OpenSans Light";
}

/* MENU */
#sidebar #menu {
	width:200px;
	font-size:15px;
	margin:0px 0px 50px 0px;
}

#sidebar ul {
	width:200px;
    font-family:"OpenSans Light";
}

#sidebar ul li {
	width:200px;
}

#sidebar ul li a {
	width:180px;
	display:block;
	padding:10px 0px 10px 20px;
	color:#FFFFFF;
	text-decoration:none;
}

#sidebar ul li a:hover {
	background:#151515;
}

#sidebar #social {
    text-align:center;
    margin:25px 0px 0px 0px
}
