{% extends "_base.html" %}

{% block bodyid %}id="index"{% endblock %}

{% block content %}
    <p class="box">Hi, this is an example drupan site.</p>

    {% for cur in site.sorted %}

        {% if loop.index <= 5 %}

            <h4><a href="{{ cur.url }}" alt="{{ cur.meta['title'] }}">{{ cur.meta['title']}}</a></h4>
            <p class="date">posted on: {{ cur.meta['date'] }}</p>
            {{ cur.markup|more }}
            <p class="more"><a href="{{ cur.url }}" alt="{{ cur.meta['title'] }}">continue more</a></p>

        {% endif %}

    {% endfor %}
{% endblock %}
